@{
    ViewData["Title"] = "About";
}
<h2>About</h2>

<p>Frustrated with mucking about in web.config files and xdt files for multiple projects, I decided to create this extension, to help us all add security headers to our Azure Web Apps easily.</p>
