@{
    ViewData["Title"] = "Index";
}
<h1>Security Headers</h1>
<hr />
<div class="row">
    <form>
        <div class="col-md-12">
            <h3>X-XSS-Protection</h3>
            <div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="alert alert-info">
                            <p>Directs supporting browsers to activate their built XSS protection</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> Enable
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Block
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <pre>X-XSS-Protection : 1</pre>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </div>
    </form>
</div>
<hr />
<div class="row">
    <form>
        <div class="col-md-12">
            <h3>X-Content-Type-Options</h3>
           <div class="row">
               <div class="col-md-9">
                   <div class="alert alert-info">
                       <p>Directs supporting browsers to not do any sniffing</p>
                   </div>
                   <pre>X-Content-Type-Options : nosniff</pre>
               </div>
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </form>
</div>